OPENAI_API_KEY=
OPENAI_MODEL=
OLLAMA_URL=
OLLAMA_MODEL=
CLICKHOUSE_URL=
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
MONGODB_URI=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_NAME=