OLLAMA_URL=
OLLAMA_MODEL=
AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MONGODB_URI=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_NAME=
ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=
OPENAI_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX=
BLOB_READ_WRITE_TOKEN=
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_PRICE_ID=
STRIPE_MAX_PRICE_ID=
STRIPE_TEAM_PRICE_ID=
NEXT_PUBLIC_APP_URL=http://localhost:3000
