OPENAI_API_KEY=
OPENAI_MODEL=
ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=
OLLAMA_URL=
OLLAMA_MODEL=
MONGODB_URI=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_NAME=
AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
